<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdW-R91WWFdcfwIA4Ha42s89dcBiKShRY</string>
	<key>GCM_SENDER_ID</key>
	<string>174390230237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentcarApp</string>
	<key>PROJECT_ID</key>
	<string>rentcarapp-d1e3e</string>
	<key>STORAGE_BUCKET</key>
	<string>rentcarapp-d1e3e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174390230237:ios:fae777d54cfd3257e46f34</string>
</dict>
</plist>